/*
 * @Author: smallke 
 * @Date: 2017-06-03 13:43:41 
 * @Last Modified by: smallke
 * @Last Modified time: 2017-06-04 14:13:24
 */

//公用样式
@import "../../mixins/mixins";
//个人中心
page {
  background: #f7f7f7;
}

.user {
  position: relative;
  width: 100%;
  height: 220*1.172rpx;
  background-color: #359dda;
  padding: 39*1.172rpx 48*1.172rpx 40*1.172rpx 198*1.172rpx;
  .avater {
    position: absolute;
    top: 35*1.172rpx;
    left: 39*1.172rpx;
    width: 134*1.172rpx;
    height: 134*1.172rpx;
    border-radius: 100%;
    @include bg-cover;
    border: 7*1.172rpx solid #fff;
  }
  .name {
    color: #ffffff;
    font-size: 28*1.172rpx;
    font-weight: 400;
    line-height: 1;
    @include text-overflow;
    text-align: left;
    .icn-vip {
      margin-left: 10rpx;
    }
  }
  .dec {
    padding-top: 20*1.172rpx;
    color: #ffffff;
    font-size: 22*1.172rpx;
    font-weight: 400;
    line-height: 28*1.172rpx;
    @include text-overflow-line(3);
  }
  .vip {
    position: absolute;
    left: 231rpx;
    bottom: 40rpx;
    width: 176rpx;
    height: 59rpx;
    color: #ffffff;
    font-size: 28rpx;
    line-height: 59rpx;
    text-align: center;
    border-radius: 5rpx;
    background-color: #ffa627;
  }
}

.menu {
  margin-top: 20*1.172rpx;
  background-color: #fff;
  .item {
    height: 90*1.172rpx;
    line-height: 90*1.172rpx;
    padding: 0px 30*1.172rpx;
    border-bottom: 1rpx solid #dddddd;
    &:last-child {
      border: none;
    }
    .name {
      color: #333333;
      padding-left: 20*1.172rpx;
    }
    &:after {
      float: right;
      display: block;
      content: "";
      width: 12*1.172rpx;
      height: 90*1.172rpx;
      font-size: 0px;
      @include bg-contain;
      background-image: url($image+'/icn_right.png');
    }
  }
  .icn-menu {
    display: inline-block;
    vertical-align: middle;
    @include bg-contain;
    font-size: 0px;
    &.icn-dy {
      width: 36*1.172rpx;
      height: 30*1.172rpx;
      background-image: url($image+'/icn_menu_dy.png');
    }
    &.icn-sc {
      width: 39*1.172rpx;
      height: 37*1.172rpx;
      background-image: url($image+'/icn_menu_sc.png');
    }
    &.icn-hd {
      width: 34*1.172rpx;
      height: 34*1.172rpx;
      background-image: url($image+'/icn_menu_hd.png');
    }
    &.icn-bb {
      width: 33*1.172rpx;
      height: 37*1.172rpx;
      background-image: url($image+'/icn_menu_bb.png');
    }
    &.icn-cz {
      width: 39*1.172rpx;
      height: 39*1.172rpx;
      background-image: url($image+'/icn_menu_cz.png');
    }
  }
}